<html>
<head>
<META http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link media="screen" type="text/css" href="/XMLTask/css/ie.css" rel="stylesheet">
</head>
<body>
<table>
<tr>
<TH>Category</TH><TH>Subcategory</TH><TH>Product Name</TH><TH>Provider</TH><TH>Model</TH><TH>Date of Issue</TH><TH>Color</TH><TH>Price</TH>
</tr>
<tr>
<td><a href="/XMLTask/XSLTServlet?xsl=all&amp;categoryName=edible">edibleedible</a></td>
</tr>
<tr>
<td><a href="/XMLTask/XSLTServlet?xsl=all&amp;categoryName=construction">constructionedible</a></td>
</tr>
</table>
</body>
</html>
