<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">
    <context-param>
        <param-name>xml</param-name>
        <param-value>C:\Documents and Settings\Dzmitry_Stsiapanau\Documents\Java\Intelig.Idea\XML
            Task\web\xml\goods.xml
        </param-value>
    </context-param>

    <servlet>
        <servlet-name>ParserServlet</servlet-name>
        <servlet-class>com.epam.xmltask.controller.ParserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ParserServlet</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>XSLTServlet</servlet-name>
        <servlet-class>com.epam.xmltask.controller.XSLTServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>XSLTServlet</servlet-name>
        <url-pattern>/XSLTServlet</url-pattern>
    </servlet-mapping>
     <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>resources.filters.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>

    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri>
            <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/tld/fmt.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri>
            <taglib-location>/WEB-INF/tld/fn.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri>
            <taglib-location>/WEB-INF/tld/sql.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri>
            <taglib-location>/WEB-INF/tld/x.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
